@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}

.titleHeader {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 14px;
}

.brandName {
	font-size: 2.5em;
	padding: 0.5em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.wrap {
	margin: 50px auto 0 auto;
	width: 100%;
	display: flex;
	align-items: space-around;
	max-width: 1200px;
}

.tile {
	/*width: 360px;*/
	height: 300px;
	margin: 20px;
	background-color: #A9A9A9;
	display: inline-block;
	background-size: cover;
	position: relative;
	cursor: pointer;
	transition: all 0.4s ease-out;
	box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
	overflow: hidden;
	color: #000;
	font-family: 'Roboto';
	border-radius: 10px;
}

	.tile div.tileStyle {
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		transition: all 0.4s ease-out;
	}

	.tile .text {
		/*   z-index:99; */
		position: absolute;
		padding: 20px;
		height: calc(100% - 60px);
	}

	.tile h1 {
		font-weight: 100;
		margin: 0;
		font-size: 8em;
		text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
	}

	.tile h2 {
		font-weight: 100;
		margin: 20px 0 0 0;
		font-style: italic;
		transform: translateX(100px);
	}

	.tile p {
		font-weight: 300;
		margin: 20px 0 0 0;
		line-height: 25px;
		/*   opacity:0; */
		transform: translateX(-200px);
		transition-delay: 0.2s;
	}

.animate-text {
	opacity: 0.8;
	transition: all 0.6s ease-in-out;
}

.tile:hover {
	/*   background-color:#99aeff; */
	box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
	transform: scale(1.05);
}

	.tile:hover div.tileStyle {
		opacity: 0.8;
	}

	.tile:hover .animate-text {
		transform: translateX(0);
		opacity: 1;
	}

.dots {
	position: absolute;
	bottom: 20px;
	right: 30px;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	color: currentColor;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

	.dots span {
		width: 5px;
		height: 5px;
		background-color: currentColor;
		border-radius: 50%;
		display: block;
		opacity: 0;
		transition: transform 0.4s ease-out, opacity 0.5s ease;
		transform: translateY(30px);
	}

.tile:hover span {
	opacity: 1;
	transform: translateY(0px);
}

.dots span:nth-child(1) {
	transition-delay: 0.05s;
}

.dots span:nth-child(2) {
	transition-delay: 0.1s;
}

.dots span:nth-child(3) {
	transition-delay: 0.15s;
}


@media (max-width: 1000px) {
	.wrap {
		flex-direction: column;
		width: 400px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .tile {
        font-size: 8px;
        height: 170px;
        /*color: red;*/
    }
    .tile h1 {
        font-weight: 100;
        margin: 0;
        font-size: 7em;
        text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    }
    .tile h2 {
        font-size: 20px;    
    }
}
