@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}

.titleHeader
{
	z-index: 3020;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size:14px; 
}

.brandName{
	font-size: 2.5em;
	padding: 0.5em;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
