<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.3.7" targetFramework="net40" />
  <package id="Bootstrap.Multiselect" version="0.9.13" targetFramework="net40" />
  <package id="jQuery" version="3.1.1" targetFramework="net40" />
  <package id="jquery.datatables" version="1.10.15" targetFramework="net40" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net40" />
  <package id="jquery-timepicker-jt" version="1.11.11" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net40" />
  <package id="Microsoft.ReportViewer.WebForms.v12" version="12.0.0.0" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="12.0.4100.1" targetFramework="net40" />
</packages>